# ============================
# Build artifacts
# ============================
builds/
.deps/
.extensions/
bin/
lib/
.windows_deps/
vscode-ext/node_modules/
vscode-ext/package-lock.json
node_modules/
package-lock.json

# Other
.vscode/
.env
*.exe
*.zip