[submodule ".extensions/jansson"]
	path = .extensions/jansson
	url = https://github.com/akheron/jansson.git
[submodule ".extensions/tinyxml2"]
	path = .extensions/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule ".extensions/libuv"]
	path = .extensions/libuv
	url = https://github.com/libuv/libuv.git
[submodule ".extensions/mbedtls"]
	path = .extensions/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule ".extensions/libbz2"]
	path = .extensions/libbz2
	url = https://sourceware.org/git/bzip2.git
[submodule ".extensions/libarchive"]
	path = .extensions/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule ".extensions/libgit2"]
	path = .extensions/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule ".extensions/libpng"]
	path = .extensions/libpng
	url = https://github.com/glennrp/libpng.git
[submodule ".extensions/libevent"]
	path = .extensions/libevent
	url = https://github.com/libevent/libevent.git
[submodule ".extensions/openssl"]
	path = .extensions/openssl
	url = https://github.com/openssl/openssl.git
[submodule ".extensions/oniguruma"]
	path = .extensions/oniguruma
	url = https://github.com/kkos/oniguruma.git
[submodule ".extensions/xz"]
	path = .extensions/xz
	url = https://github.com/xz-mirror/xz.git
[submodule ".extensions/cjson"]
	path = .extensions/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule ".extensions/zlib"]
	path = .extensions/zlib
	url = https://github.com/madler/zlib.git
[submodule ".extensions/libyaml"]
	path = .extensions/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule ".extensions/libcurl"]
	path = .extensions/libcurl
	url = https://github.com/curl/curl.git
[submodule ".extensions/sqlite"]
	path = .extensions/sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule ".extensions/pcre2"]
	path = .extensions/pcre2
	url = https://github.com/PhilipHazel/pcre2.git
[submodule ".extensions/libffi"]
	path = .extensions/libffi
	url = https://github.com/libffi/libffi.git
[submodule "/teamspace/studios/this_studio/go-programs/practice/pylearn/.extensions/libhv"]
	path = /teamspace/studios/this_studio/go-programs/practice/pylearn/.extensions/libhv
	url = https://github.com/ithewei/libhv.git
[submodule "libhv"]
	path = .extensions/libhv
	url = https://github.com/ithewei/libhv.git
[submodule ".extensions/civetweb"]
	path = .extensions/civetweb
	url = https://github.com/civetweb/civetweb.git
[submodule ".extensions/curl"]
	path = .extensions/curl
	url = https://github.com/curl/curl.git
[submodule ".extensions/libjpeg-turbo"]
	path = .extensions/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
